[user]
	name = Ethan Smith
    email = ethan.smith@schrodinger.com
[alias]
    ch = checkout
    co = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    histall = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short master
    type = cat-file -t
    dump = cat-file -p
	lg = log --format=oneline
	slog = log --pretty=format:\"%C(auto)%h %s %d\"
	reh = reset --hard
    dc = diff --cached
[push]
	default = matching
